extends layout

block content
  div#pageContent
    div#header
      h1 #{title}
      h3 #{deviceName}
  
    form(method='post')
      div#form
        p
          label Message:
          input(type='text', name='message', required, maxlength='63', size='64')
        p
          label Line:
          select(name='line')
            option(value='0') Line 1
            option(value='1') Line 2
        p
          label Scroll Delay:
          input(type='text', name='scrollDelay', maxlength='4', size='4', value='0')
        
      div#submitBtnContainer
        input(type='submit', value='Send!') 